<a href="/places" class="btn-menu"> >Back to places</a>
<h2 class="text-center my-5">Edit {{place.name}}</h2>
<div class="d-flex justify-content-center">
  <form action="/places/{{place.id}}" method="POST" id="form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        name="name"
        value="{{place.name}}"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>

    <label for="exampleInputPassword1" class="form-label">Type</label>
    <div id="exampleInputPassword1">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="flexRadioDefault2"
          name="type"
          value="bookstore"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          Bookstore
        </label>
      </div>
      <div class="form-check my-3">
        <input
          class="form-check-input"
          type="radio"
          id="flexRadioDefault1"
          name="type"
          value="coffe shop"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          Coffe Shop
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Plot</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword2"
        name="description"
        value="{{place.description}}"
      />
      <div id="emailHelp" class="form-text">A shot description of your fantastic
        place</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{{test.1.}}